{% extends "base.html" %}

{% block content %}
    <style>
          .l-box{padding: 1em;}
    </style>

    <div class="pure-g">
        <div class="pure-u-1-2" style="background: lightblue">
            <div  class="l-box">
            <h2>Operators</h2>
            MSML as a Service provides several Operators for calling via html or rest-like.
			You find a full list at <a href="{{ url_for("list_operators") }}">
				{{url_for("list_operators")}}</a>
            </div>
        </div>

        <div class="pure-u-1-2" style="background: lightcyan;">
            <div class="l-box">

            <h2>Workflow</h2>
                You can run Workflows like Operators in the cloud.

            </div>
        </div>
    </div>
{% endblock %}